@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Tiny5&display=swap');

@import url('layout.css');
@import url('pages/welcome.css');
@import url('pages/index.css');
@import url('pages/matrix.css');
